        /////////////////////////////////MIXINS-IMPORTS////////////////////////////////
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
        $first-color:#012A4A;
        $second-color: #0060A4;
        $third-color: #0B4B78;
        $fourth-color:#03365E;
        $fifth-color: #437EA9;
        //Colores basicos//
        $black:#000000;
        $white:#ffffff;
        $grey: #F0F0F0;
        //Tamaños//
        $movil:450px;
        $tablet:900px;
        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }
        
        ////BOTON MODO DIA-NOCTURNO////
        .darkmodeswitch {
            z-index: 2;
            margin-left: 2%;
            margin-top: 1.5%;
            background: #3494b1;
            display: flex;
            position: relative;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 1rem;
        }
        
        .darkmodeswitch span {
            width: 30px;
            height: 30px;
            line-height: 30px;
            color: #fff;
        }
        
        .darkmodeswitch::after {
            display: block;
            background: #fffbf5;
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 0;
            left: 0;
            right: unset;
            border-radius: 3rem;
            transition: all .5s ease;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
            content: "";
        }
        
        .darkmodeswitch.active {
            background: #fdd384;
        }
        
        .darkmodeswitch.active::after {
            left: unset;
            right: 0;
        }
        
        ////////////////////////////////////LOGIN-REGISTRAR//////////////////////////////////
        .bodylogin.oscuro {
            background-color: $first-color;
            .modal-login {
                background-color: $third-color;
                box-shadow: 6px 4px 4px rgba(31, 31, 31, 0.400);
                .modal-content {
                    background-color: $third-color;
                }
                h2,
                h3,
                .contraseña,
                .izquierda,
                .derecha,
                p {
                    color: white !important;
                }
                .inputlogin,
                .inputregister {
                    background-color: white;
                    border: white;
                }
                .botonlogin,
                .botonregister {
                    background-color: $second-color;
                    box-shadow: 6px 4px 4px rgba(31, 31, 31, 0.400);
                }
                .btn-signin {
                    /*PROVISIONAL*/
                    background-color: $third-color !important;
                    box-shadow: none !important;
                    color: white;
                }
                .btn-register {
                    /*PROVISIONAL*/
                    background-color: $third-color !important;
                    box-shadow: none !important;
                    color: white;
                }
                .cuadrado {
                    box-shadow: 6px 4px 4px rgba(31, 31, 31, 0.400);
                    background: $second-color;
                    border: $second-color solid 1.5px;
                }
                .izquierda,
                .derecha {
                    color: white;
                }
                .mas,
                .menos {
                    color: white;
                }
            }
        }
        
        ///////////////////////////////////////NAVBAR////////////////////////////////////
        .oscuro {
            background-color: $first-color;
            .barra-navbar {
                background-color: $third-color;
            }
            .region-navbar {
                background-color: $third-color;
                .main-icon {
                    background-color: $third-color;
                }
                .icon {
                    color: $white;
                    background-color: $third-color;
                }
                .main-icon {
                    color: white;
                    background-color: $third-color;
                }
                .active-icon {
                    background-color: $first-color;
                }
                .active-left {
                    background-color: $first-color;
                }
                .active-right {
                    background-color: $first-color;
                }
                .active {
                    background-color: $first-color;
                }
                .active-center {
                    background-color: $first-color;
                }
            }
        }
        
        /////////////////////////////////////////HOME////////////////////////////////////
        .page-home.oscuro {
            background-color: $first-color;
            .botones-home {
                button {
                    background-color: $third-color;
                    box-shadow: none;
                }
                .boton-info,
                .boton-maletin,
                .boton-cruz {
                    .icono-maletin {
                        i {
                            color: white;
                        }
                    }
                    .icono-info {
                        i {
                            color: white;
                        }
                    }
                    .icono-cruz {
                        i {
                            color: white;
                        }
                    }
                }
            }
        }
        
        /////////////////////////////////////////VER-PERFIL//////////////////////////////
        .oscuro {
            .ver-profile {
                .user-div-category {
                    background-color: $fourth-color !important;
                    border-color: $fourth-color !important;
                }
                .user-vista {
                    background-color: $third-color !important;
                }
                .user-poligon {
                    background-color: $first-color !important;
                }
                .p-name,
                .p-surname,
                .p-age,
                .p-category,
                .user-category-icon {
                    color: white !important;
                }
                .logout-btn,
                .input-file {
                    background-color: $fifth-color !important;
                }
                .linea-divisoria {
                    background-color: grey !important;
                }
            }
        }
        
        ////////////////////////////////////////////////VER-PERFIL/////////////////////////////////
        .edit-profile {
            .p-text,
            .return-text,
            i {
                // color: white;
            }
        }
        
        ////////////////////////////////////////NOTIFICACIONES///////////////////////////////////////
        .buscador {
            background-color: $first-color !important;
        }