@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Inter', sans-serif;
  background-color: #E5E5E5;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.principal {
  height: 100vh;
}

@media only screen and (max-width: 1200px) {
  .principal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 1200px) {
  .column {
    width: 100% !important;
  }
}

.region-content {
  height: 90vh;
  width: 85vw;
}

@media (min-width: 1200px) {
  .region-content {
    height: 100%;
  }
}

.region-navbar {
  background-color: #ffffff;
  height: 100%;
  width: 15vw;
  /*--------------------------------------------------------------- MENU NAV BAR ---------------------------------------------------------------- */
  /* DIVS NAVBAR*/
  /* Curriculum */
  position: -webkit-sticky;
  position: sticky;
}

@media only screen and (max-width: 1200px) {
  .region-navbar {
    border-bottom-left-radius: 30px !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.region-navbar .barra-navbar-img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

@media only screen and (max-width: 1200px) {
  .region-navbar .barra-navbar-img {
    display: none;
  }
}

.region-navbar .barra-navbar-img img {
  margin-top: 10px;
  width: 80px;
  float: left;
}

.region-navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
  gap: 20px;
}

@media only screen and (max-width: 1200px) {
  .region-navbar .menu {
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0px;
  }
}

.region-navbar .menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
}

@media only screen and (max-width: 1200px) {
  .region-navbar .menu .menu-item {
    height: 100%;
    border-radius: 30px;
  }
}

.region-navbar .menu .menu-item .text {
  padding-left: 20px;
  float: right;
  font-size: calc(10px + 0.5vw);
  margin: 0;
}

.region-navbar .menu .menu-item .icon {
  color: #c0c0c0;
  text-align: center;
  font-size: calc(15px + 1vw);
  border-width: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region-navbar .menu .menu-item .icon:hover {
  color: #848484;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media only screen and (max-width: 1200px) {
  .region-navbar .menu .menu-item .icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
    font-size: calc(30px + 1vw);
  }
}

.region-navbar .menu .active {
  color: #000000;
  height: 100%;
}

.region-navbar .menu .active .icon {
  font-size: calc(15px + 1vw);
  color: black;
  background-color: #ffffff;
  border-width: 0px;
  height: 100%;
  border-top-left-radius: 30px;
}

.region-navbar .menu .active .icon:hover {
  color: #000000;
}

@media only screen and (max-width: 1200px) {
  .region-navbar .menu .active .icon {
    background-color: #E5E5E5;
    font-size: calc(35px + 1vw);
  }
}

.region-navbar .menu .active-center {
  color: #000000;
  height: 100%;
}

.region-navbar .menu .active-center .icon {
  font-size: calc(15px + 1vw);
  color: #000000;
  background-color: #ffffff;
  border-width: 0px;
  height: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

@media only screen and (max-width: 1200px) {
  .region-navbar .menu .active-center .icon {
    background-color: #E5E5E5;
    font-size: calc(35px + 1vw);
  }
}

.barra-navbar {
  background-color: white;
  height: 10%;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
}

.barra-navbar .barra-navbar-btn {
  width: 100%;
  height: 10vh;
  float: right;
}

.barra-navbar .barra-navbar-btn .darkmode-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  height: 100%;
  margin-right: 10px;
}

.barra-navbar .barra-navbar-btn .darkmode-btn .darkmodeswitch {
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  .barra-navbar {
    display: none !important;
  }
}

@media only screen and (max-width: 1200px) {
  .barra-navbar {
    display: none;
  }
  .barra-navbar img {
    display: none;
  }
  .barra-navbar .darkmodeswitch {
    display: none;
  }
  .region-navbar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 15vh !important;
    width: 100% !important;
    height: calc(var(--vh, 1vh) * 10) !important;
    padding: 0 !important;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    /*--------------------------------------------------------------- MENU NAV BAR ---------------------------------------------------------------- */
    /* DIVS NAVBAR*/
    /* Curriculum */
    /* Alertas */
    /* Main */
    /* Chat */
    /* Perfil */
    /* ICONS */
  }
  .region-navbar p {
    display: none;
  }
  .region-navbar .curriculum-navbar {
    width: 20% !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: absolute !important;
  }
  .region-navbar .alerts-navbar {
    width: 20% !important;
    padding-bottom: 0 !important;
    display: absolute !important;
  }
  .region-navbar .main-navbar {
    width: 20% !important;
    padding-bottom: 0 !important;
    display: absolute !important;
    height: 10vh !important;
  }
  .region-navbar .chat-navbar {
    padding: 1% !important;
    width: 20% !important;
    padding-bottom: 0 !important;
    display: absolute !important;
  }
  .region-navbar .profile-navbar {
    width: 20% !important;
    padding-bottom: 0 !important;
    display: absolute !important;
  }
  .region-navbar .active-left {
    background-color: #E5E5E5;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-top-right-radius: 30px;
  }
  .region-navbar .active-right {
    background-color: #E5E5E5;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-top-left-radius: 30px;
  }
  .region-navbar .active-center {
    background-color: #C5D1EB;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
  .region-navbar .active-icon {
    color: #000000 !important;
    background-color: #E5E5E5 !important;
    font-size: 4.5vh !important;
  }
  .region-navbar .active-icon-center {
    background-color: #C5D1EB !important;
    font-size: 4.5vh !important;
  }
}
/*# sourceMappingURL=style.css.map */