/////////////////////////////////MIXINS-IMPORTS////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
$first-color:#012A4A;
$second-color: #0060A4;
$third-color: #0B4B78;
$fourth-color:#03365E;
$fifth-color: #012A4A;
//Colores basicos//
$black:#000000;
$white:#ffffff;
$grey: #F0F0F0;
//Tamaños//
$movil:450px;
$tablet:900px;
*,
*:before,
*:after {
    box-sizing: border-box;
}

////BOTON MODO DIA-NOCTURNO////
.area-botones {
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    &.horizontal {
        flex-direction: row;
    }
}

.volver {
    color: white;
    font-size: 40px;
}

.darkmodeswitch {
    position: relative;
    z-index: 2;
    margin-left: 2%;
    margin-top: 1.5%;
    background: #3494b1;
    display: flex;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
}

.darkmodeswitch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

.darkmodeswitch::after {
    display: block;
    background: #fffbf5;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 3rem;
    transition: all .5s ease;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
    content: "";
}

.darkmodeswitch.active {
    background: #fdd384;
}

.darkmodeswitch.active::after {
    left: unset;
    right: 0;
}

////////////////////////////////////LOGIN-REGISTRAR//////////////////////////////////
.bodylogin.oscuro {
    background-color: $first-color;
    .modal-login {
        background-color: $third-color;
        box-shadow: 6px 4px 4px rgba(31, 31, 31, 0.400);
        .modal-content {
            //background-color: $third-color;
        }
        h2,
        h3,
        .contraseña,
        label {
            color: white !important;
        }
        h2,
        h3,
        .contraseña,
        .izquierda,
        .derecha,
        p {
            color: white !important;
        }
        .izquierda,
        .derecha {
            background-color: transparent!important;
            box-shadow: none!important;
        }
        .inputlogin,
        .inputregister {
            background-color: white;
            border: white;
        }
        .botones {
            .inicio-activo {
                background-color: $fourth-color !important;
            }
            .registrar-activo {
                background-color: $fourth-color !important;
            }
        }
        button,
        input[type=submit] {
            background-color: $second-color!important;
            box-shadow: 6px 4px 4px rgba(31, 31, 31, 0.400)!important;
        }
        .btn-signin {
            /*PROVISIONAL*/
            background-color: $third-color !important;
            box-shadow: none !important;
            color: white;
        }
        .btn-register {
            /*PROVISIONAL*/
            background-color: $third-color !important;
            box-shadow: none !important;
            color: white;
        }
        .cuadrado {
            box-shadow: 6px 4px 4px rgba(31, 31, 31, 0.400);
            background: $second-color;
            border: $second-color solid 1.5px;
        }
    }
}

/////////////////////////////////////////HOME////////////////////////////////////
.page-home.oscuro {
    background-color: $first-color;
}