@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Inter', sans-serif;
  background-color: #E5E5E5;
}

.page-home .swal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-home .swal-footer .swal-button-container {
  width: 50%;
}

.page-home .region-swiper {
  height: 90%;
  position: relative;
}

@media (max-width: 1200px) {
  .page-home .region-swiper {
    height: 100%;
  }
}

.page-home .region-swiper #carta {
  height: 100%;
  width: 100%;
  padding-top: 10px;
}

.page-home .region-swiper .swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.page-home .region-swiper .swiper .swiper--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.page-home .region-swiper .swiper .swiper--status i {
  font-size: 100px;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.page-home .region-swiper .swiper .swiper--cards {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 3vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card {
  padding: 15px;
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  height: 70vh;
  background: #FFFFFF;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: grab;
}

@media (min-width: 1200px) {
  .page-home .region-swiper .swiper .swiper--cards .swiper--card {
    max-width: 500px;
  }
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card img {
  max-height: 100%;
  pointer-events: none;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card.content--empresa {
  height: 70%;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card.content--trabajador {
  height: 100%;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card.content--trabajador p {
  font-size: 14px !important;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card.content--final {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card.content--final img {
  max-width: 300px;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card .titulo--card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  pointer-events: none;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card .titulo--card h2 {
  text-align: left;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card .misc--card {
  width: 100%;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card .misc--card .vacante--empresa {
  text-align: left;
  margin-bottom: 0;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card .misc--card .campo--empresa {
  text-align: left;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card .cv--card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card .cv--card h2 {
  text-align: left;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card .cv--card > div {
  width: 100%;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card .img--card {
  max-height: 20%;
  margin-bottom: 30px;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card .img--card img {
  max-height: none;
  height: 100%;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card h2 {
  padding: 0 16px;
  margin: 3px 0;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card h5 {
  margin: 0 0 10px 0;
  padding: 0 16px;
  font-weight: normal;
  color: grey;
  text-align: left;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card .content--card p {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
  text-align: justify;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card:nth-child(1) {
  padding-top: 15px;
}

.page-home .region-swiper .swiper .swiper--cards .swiper--card:nth-child(1) img {
  max-height: 20%;
  margin-bottom: 20px;
  margin-top: 15px;
}

.page-home .region-swiper .swiper .moving.swiper--card {
  -webkit-transition: none;
  transition: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.page-home .region-swiper .loaded.swiper {
  opacity: 1 !important;
}

.page-home .region-swiper .swiper_love .fa-briefcase {
  opacity: 0.7 !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.page-home .region-swiper .swiper_nope .fa-remove {
  opacity: 0.7 !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.page-home .region-swiper .fa-briefcase {
  color: #a55f2a;
}

.page-home .region-swiper .fa-remove {
  color: #0076CA;
}

.page-home .region-swiper .card-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-home .region-swiper .card-wrapper .card {
  background-color: white;
  width: 90vw;
  height: 83%;
  border-radius: 30px;
}

.page-home .region-swiper .botones-home {
  position: absolute;
  bottom: 3vh;
  width: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1;
}

.page-home .region-swiper .botones-home button {
  z-index: 2;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 0 10px 10px #9d9d9d;
          box-shadow: 0 10px 10px #9d9d9d;
  border: none;
}

.page-home .region-swiper .botones-home button:focus {
  outline: 0;
}

.page-home .region-swiper .botones-home .boton-cruz > button,
.page-home .region-swiper .botones-home .boton-maletin > button {
  width: 80px;
  height: 80px;
}

@media (max-width: 1200px) {
  .page-home .region-swiper .botones-home .boton-cruz > button,
  .page-home .region-swiper .botones-home .boton-maletin > button {
    width: 60px;
    height: 60px;
  }
}

.page-home .region-swiper .botones-home .boton-cruz > button i,
.page-home .region-swiper .botones-home .boton-maletin > button i {
  font-size: calc(30px + 1vw);
}

.page-home .region-swiper .botones-home .boton-info .icono-info {
  width: 60px;
  height: 60px;
}

@media (max-width: 1200px) {
  .page-home .region-swiper .botones-home .boton-info .icono-info {
    width: 50px;
    height: 50px;
  }
}

.page-home .region-swiper .botones-home .boton-info .icono-info i {
  font-size: calc(20px + 1vw);
}

.page-home .region-swiper .botones-home .boton-maletin .icono-maletin i {
  color: #a55f2a;
}

.page-home .region-swiper .botones-home .boton-cruz .icono-cruz i {
  color: #0076CA;
}

.page-home .region-swiper .empresa-vista {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-home .region-swiper .empresa-vista .return {
  position: absolute;
  top: 15px;
  left: 25px;
}

.page-home .region-swiper .empresa-vista .container-info {
  width: 50%;
  background: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-home .region-swiper .empresa-vista .container-info .empresa-ver-foto {
  width: 70%;
}

.page-home .region-swiper .empresa-vista .container-info .empresa-ver-foto img {
  width: 100%;
}
/*# sourceMappingURL=style-arnau.css.map */