/////////////////////////////////MIXINS-IMPORTS////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
//Colores principales
$first-color:#186CA7;
$second-color: #005EA0;
$third-color:#0076CA;
$fourth-color:#042944;
$fifth-color: #92AFD7;
//Colores basicos//
$black:#000000;
$white:#ffffff;
$grey: #F0F0F0;
$background: #E5E5E5;
//Medidas
$movil:768px;
$tablet:1200px;
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    font-family: 'Inter', sans-serif;
    background-color: $background;
}

///////////////////////////////NAVBAR//////////////////////////////////////
// .region-navbar {
//     height: 10vh;
//     position: fixed;
//     top: 0;
//     width: 100%;
//     background-color: $first-color; //PROVISIONAL MIENTRAS POL NO HAGA LA NAVBAR
// }
///////////////////////////////NAVBAR//////////////////////////////////////
.barra-navbar {
    background-color: white;
    height: 15vh;
    z-index: 100;
    img {
        margin-top: 20px;
        width: 5%;
        margin-left: 10vh;
    }
    .darkmodeswitch {
        margin-top: 30px;
        float: right;
        margin-right: 30px;
    }
}

p {
    padding-left: 20px;
    float: right;
    font-size: 20px;
    margin: 0;
}

.region-navbar {
    background-color: $white;
    height: 85vh !important;
    width: 20%;
    height: #{"calc(var(--vh, 1vh) * 10)"};
    padding-top: 5% !important;
    padding-left: 2%;
    /*--------------------------------------------------------------- MENU NAV BAR ---------------------------------------------------------------- */
    /* DIVS NAVBAR*/
    /* Curriculum */
    .curriculum-navbar {
        padding: 1%;
        padding-bottom: 20px;
        border: 1px;
        display: flex;
        width: 70%;
    }
    /* Alertas */
    .alerts-navbar {
        padding: 1%;
        padding-bottom: 20px;
        width: 100% !important;
        border: 1px;
        display: flex;
        width: 70%;
    }
    /* Main */
    .main-navbar {
        padding: 1%;
        padding-bottom: 20px;
        width: 70%;
        border: 1px;
        display: flex;
        width: 70%;
    }
    /* Chat */
    .chat-navbar {
        padding: 1%;
        padding-bottom: 20px;
        width: 70%;
        border: 1px;
        display: flex;
        width: 70%;
    }
    /* Perfil */
    .profile-navbar {
        padding: 1%;
        padding-bottom: 20px;
        width: 70%;
        border: 1px;
        display: flex;
        width: 70%;
    }
    // DIVS ACTIVE //
    .active-left {
        background-color: $background;
    }
    .active-right {
        background-color: $background;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .active {
        background-color: $background;
    }
    .active-center {
        background-color: $background;
    }
    /* ICONS */
    .icon {
        color: black;
        margin: 0;
        background-color: $white;
        border-width: 0px;
        border-radius: 50px;
        font-size: 20px;
    }
    .main-icon {
        color: black;
        background-color: $white;
        border-width: 0px;
        border-radius: 50px;
        font-size: 20px;
    }
    .active-icon {
        background-color: $background;
    }
    .active-icon-center {
        background-color: $background;
    }
}

@media only screen and (max-width: $movil) {
    .barra-navbar {
        display: none;
        img {
            display: none;
        }
        .darkmodeswitch {
            display: none;
        }
    }
    .region-navbar {
        display: flex !important;
        height: 15vh !important;
        width: 100% !important;
        height: #{"calc(var(--vh, 1vh) * 10)"} !important;
        padding: 0 !important;
        border-bottom-left-radius: 30px !important;
        border-bottom-right-radius: 30px !important;
        /*--------------------------------------------------------------- MENU NAV BAR ---------------------------------------------------------------- */
        /* DIVS NAVBAR*/
        /* Curriculum */
        p {
            display: none;
        }
        .curriculum-navbar {
            padding: 1% !important;
            width: 20% !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            display: absolute !important;
        }
        /* Alertas */
        .alerts-navbar {
            padding: 1% !important;
            width: 20% !important;
            padding-bottom: 0 !important;
            display: absolute !important;
        }
        /* Main */
        .main-navbar {
            padding: 1% !important;
            width: 20% !important;
            padding-bottom: 0 !important;
            display: absolute !important;
            height: 10vh !important;
        }
        /* Chat */
        .chat-navbar {
            padding: 1% !important;
            width: 20% !important;
            padding-bottom: 0 !important;
            display: absolute !important;
        }
        /* Perfil */
        .profile-navbar {
            padding: 1% !important;
            width: 20% !important;
            padding-bottom: 0 !important;
            display: absolute !important;
        }
        // DIVS ACTIVE //
        .active-left {
            background-color: $background;
            box-shadow: none;
            border-top-right-radius: 30px;
        }
        .active-right {
            background-color: $background;
            box-shadow: none;
            border-top-left-radius: 30px;
        }
        .active {
            background-color: $background;
            box-shadow: none;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
        }
        .active-center {
            background-color: #C5D1EB;
            box-shadow: none;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
        }
        /* ICONS */
        .icon {
            color: #c0c0c0 !important;
            text-align: center !important;
            font-size: 4.5vh !important;
            background-color: $white;
            border-width: 0px !important;
            width: 100% !important;
            height: 100% !important;
            border-radius: 50px !important;
        }
        .main-icon {
            color: #c0c0c0 !important;
            font-size: 4vh;
            background-color: $white;
            text-align: center !important;
            border-width: 0px;
            width: 100%;
            height: 100%;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
        }
        .active-icon {
            color: #000000 !important;
            background-color: $background !important;
            font-size: 4.5vh !important;
        }
        .active-icon-center {
            background-color: #C5D1EB !important;
            font-size: 4.5vh !important;
        }
    }
}