/////////////////////////////////MIXINS-IMPORTS////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
//Colores principales
$first-color:#186CA7;
$second-color: #005EA0;
$third-color:#0076CA;
$fourth-color:#042944;
$fifth-color: #92AFD7;
//Colores basicos//
$black:#000000;
$white:#ffffff;
$grey: #F0F0F0;
<<<<<<< HEAD
//Tamaños//
=======
$background: #E5E5E5;
//Medidas
>>>>>>> 0d8bf7642b2d381094f89b30debd537dc49f6098
$movil:768px;
$tablet:1200px;
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    font-family: 'Inter', sans-serif;
    background-color: $background;
}

///////////////////////////////NAVBAR//////////////////////////////////////
// .region-navbar {
//     height: 10vh;
//     position: fixed;
//     top: 0;
//     width: 100%;
//     background-color: $first-color; //PROVISIONAL MIENTRAS POL NO HAGA LA NAVBAR
// }
///////////////////////////////NAVBAR//////////////////////////////////////
.region-navbar {
    background-color: $white;
    display: flex;
    height: 10vh;
    height: #{"calc(var(--vh, 1vh) * 10)"};
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /*--------------------------------------------------------------- MENU NAV BAR ---------------------------------------------------------------- */
    /* DIVS NAVBAR*/
    /* Curriculum */
    .curriculum-navbar {
        padding: 1%;
        width: 20%;
    }
    /* Alertas */
    .alerts-navbar {
        padding: 1%;
        width: 20%;
    }
    /* Main */
    .main-navbar {
        padding: 1%;
        width: 20%;
        height: 10vh;
    }
    /* Chat */
    .chat-navbar {
        padding: 1%;
        width: 20%;
    }
    /* Perfil */
    .profile-navbar {
        padding: 1%;
        width: 20%;
    }
    // DIVS ACTIVE //
    .active-left {
        background-color: $background;
        box-shadow: none;
        border-top-right-radius: 30px;
    }
    .active-right {
        background-color: $background;
        box-shadow: none;
        border-top-left-radius: 30px;
    }
    .active {
        background-color: $background;
        box-shadow: none;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    .active-center {
        background-color: #C5D1EB;
        box-shadow: none;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    /* ICONS */
    .icon {
        color: #c0c0c0;
        text-align: center;
        font-size: 3.5vh;
        background-color: $white;
        border-width: 0px;
        width: 100%;
        height: 100%;
        border-radius: 50px;
    }
    .main-icon {
        color: #c0c0c0;
        font-size: 4vh;
        background-color: $white;
        text-align: center;
        border-width: 0px;
        width: 100%;
        height: 100%;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    .active-icon {
        color: #000000;
        background-color: $background;
        font-size: 4.5vh;
    }
    .active-icon-center {
        background-color: #C5D1EB;
        font-size: 4.5vh;
    }
}