.fa {
  display: inline;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fas {
  font-weight: bold !important;
  font-family: FontAwesomeSolid !important;
}

.fas:before {
  font-weight: bold !important;
  font-family: FontAwesomeSolid !important;
}

.fab {
  font-weight: normal !important;
  font-family: FontAwesomeBrands !important;
}

.fab:before {
  font-weight: normal !important;
  font-family: FontAwesomeBrands !important;
}

.far {
  font-weight: normal !important;
  font-family: FontAwesomeRegular !important;
}

.far:before {
  font-weight: normal !important;
  font-family: FontAwesomeRegular !important;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Helvetica2', sans-serif;
  background-color: #E5E5E5;
}

p {
  font-family: 'Helvetica2', sans-serif;
}

table {
  width: 100%;
  border-spacing: 0px 10px;
  border-collapse: separate;
}

@page {
  margin: 0;
  padding: 0;
}

.main-page {
  width: 210mm;
  height: 281mm;
  margin: 10mm auto;
  background: white;
  -webkit-box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.sub-page {
  height: 281mm;
  overflow: hidden;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  .main-page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    -webkit-box-shadow: initial;
            box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

.botones {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  gap: 20px;
}

.botones button {
  border: none;
  background-color: #186CA7;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

.cv-1 {
  background-color: white;
}

.cv-1 .row-principal {
  height: 281mm;
  margin-left: 0;
  margin-right: 0;
}

.cv-1 .row-principal .with-region-sidebar {
  width: 32%;
  float: left;
  padding: 30px 0;
  background-color: #003e6e;
  height: 100%;
}

.cv-1 .row-principal .with-region-sidebar .nombre_trabajador {
  font-size: 37px;
}

.cv-1 .row-principal .with-region-sidebar .campo_trabajador {
  font-size: 18px;
}

.cv-1 .row-principal .with-region-sidebar * {
  color: #ffffff;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block {
  padding: 15px 15px 0 15px !important;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block > div {
  margin-bottom: 1rem;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block p,
.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block a {
  word-break: break-all;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .nombre-item {
  font-weight: 700;
  margin-bottom: 0;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .valor-item {
  margin-bottom: 0 !important;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #00315c;
  display: block;
  margin-top: 5px;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ffffff;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.bajo {
  width: 40%;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.Medio {
  width: 60%;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.medio {
  width: 60%;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.Avanzado {
  width: 80%;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.avanzado {
  width: 80%;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.Alto {
  width: 80%;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.alto {
  width: 80%;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.Experto {
  width: 100%;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.experto {
  width: 100%;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.Nativo {
  width: 100%;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.nativo {
  width: 100%;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar > div > * {
  padding: 0 15px;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .header {
  background-color: #00315c;
  margin-top: 10px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .header > p {
  margin-bottom: 0;
  font-size: 22px;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .titulo-trabajador {
  margin-bottom: 40px;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .titulo-trabajador h1 {
  margin-bottom: 15px;
}

.cv-1 .row-principal .with-region-sidebar .cv-region-sidebar .titulo-trabajador h6 {
  font-weight: 100;
}

.cv-1 .row-principal .with-region-content {
  width: 64%;
  float: right;
  padding: 30px 15px 0 15px;
}

.cv-1 .row-principal .with-region-content .seccion-titulo {
  font-size: 30px;
}

.cv-1 .row-principal .with-region-content .experiencia-wrapper .item,
.cv-1 .row-principal .with-region-content .formacion-wrapper .item {
  padding-left: 20px;
  padding-top: 30px;
}

.cv-1 .row-principal .with-region-content .experiencia-wrapper .item .nombre,
.cv-1 .row-principal .with-region-content .formacion-wrapper .item .nombre {
  font-weight: 700;
}

.cv-1 .row-principal .with-region-content .experiencia-wrapper .item .left,
.cv-1 .row-principal .with-region-content .formacion-wrapper .item .left {
  float: left;
  width: 23%;
}

.cv-1 .row-principal .with-region-content .experiencia-wrapper .item .right,
.cv-1 .row-principal .with-region-content .formacion-wrapper .item .right {
  float: right;
  width: 73%;
}

.cv-1 .row-principal .with-region-content .experiencia-wrapper .item .lugar,
.cv-1 .row-principal .with-region-content .formacion-wrapper .item .lugar {
  font-style: italic;
}

.cv-2 {
  background-color: white;
}

.cv-2.view .personal-info {
  max-width: 100%;
}

.cv-2 .row-principal {
  height: 289mm;
  margin-left: 0;
  margin-right: 0;
}

.cv-2 .row-principal .with-region-sidebar {
  width: 32%;
  float: left;
  padding: 0 0 30px 0;
  background-color: #414142;
  height: 100%;
}

.cv-2 .row-principal .with-region-sidebar * {
  color: #ffffff;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar > div:not(.foto-trabajador) {
  margin-bottom: 30px;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .foto-trabajador {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15px;
  padding-bottom: 1cm;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .foto-trabajador img {
  width: 6cm;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block {
  padding: 15px 15px 0 15px !important;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block > div {
  margin-bottom: 1rem;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block p,
.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block a {
  word-break: break-all;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .nombre-item {
  font-weight: 700;
  margin-bottom: 0;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .valor-item {
  margin-bottom: 0 !important;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent {
  position: relative;
  width: 5cm;
  height: 6px;
  background-color: #aaaaaa;
  display: block;
  margin-top: 5px;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #007bff;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.bajo {
  width: 40%;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.Medio {
  width: 60%;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.medio {
  width: 60%;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.Avanzado {
  width: 80%;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.avanzado {
  width: 80%;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.Alto {
  width: 80%;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.alto {
  width: 80%;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.Experto {
  width: 100%;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.experto {
  width: 100%;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.Nativo {
  width: 100%;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .sidebar-block .percent div.nativo {
  width: 100%;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar > div > * {
  padding: 0 15px;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .header {
  margin-top: 10px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .header > p {
  font-size: 15px;
}

.cv-2 .row-principal .with-region-sidebar .cv-region-sidebar .header h5 {
  margin-bottom: 0;
  font-weight: bold;
}

.cv-2 .row-principal .with-region-content {
  width: 64%;
  float: right;
  padding: 30px 15px 0 15px;
}

.cv-2 .row-principal .with-region-content .titulo-trabajador {
  margin-bottom: 40px;
}

.cv-2 .row-principal .with-region-content .titulo-trabajador .campo_trabajador {
  font-size: 18px;
}

.cv-2 .row-principal .with-region-content .titulo-trabajador .nombre_trabajador {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: bold;
}

.cv-2 .row-principal .with-region-content .personal-info {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cv-2 .row-principal .with-region-content .personal-info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cv-2 .row-principal .with-region-content .personal-info > div p,
.cv-2 .row-principal .with-region-content .personal-info > div a {
  margin-bottom: 0 !important;
  margin-left: 10px;
}

.cv-2 .row-principal .with-region-content .experiencia-wrapper > p,
.cv-2 .row-principal .with-region-content .formacion-wrapper > p {
  font-size: 20px;
}

.cv-2 .row-principal .with-region-content .experiencia-wrapper .item,
.cv-2 .row-principal .with-region-content .formacion-wrapper .item {
  margin-top: 30px;
  padding-left: 20px;
}

.cv-2 .row-principal .with-region-content .experiencia-wrapper .item .lugar,
.cv-2 .row-principal .with-region-content .formacion-wrapper .item .lugar {
  font-style: italic;
}

.cv-2 .row-principal .with-region-content .experiencia-wrapper .item .nombre,
.cv-2 .row-principal .with-region-content .formacion-wrapper .item .nombre {
  font-weight: 700;
}

.cv-2 .row-principal .with-region-content .experiencia-wrapper .item .left,
.cv-2 .row-principal .with-region-content .formacion-wrapper .item .left {
  float: left;
  width: 23%;
}

.cv-2 .row-principal .with-region-content .experiencia-wrapper .item .right,
.cv-2 .row-principal .with-region-content .formacion-wrapper .item .right {
  float: right;
  width: 73%;
}

.cv-3 .fila {
  width: 100%;
}

.cv-3 .fila > td:nth-child(1) {
  width: 45%;
}

.cv-3 .fila > td:nth-child(2) {
  width: 55%;
}

.cv-3 table {
  border-spacing: 0;
}

.cv-3 .titulo-trabajador p,
.cv-3 .title {
  color: #fef360;
}

.cv-3 .title {
  font-size: 28px;
}

.cv-3 p,
.cv-3 a,
.cv-3 i {
  color: white;
}

.cv-3 hr {
  background-color: white;
  height: 3px;
}

.cv-3 .row-principal {
  background-color: #3a637f;
  height: 281mm;
}

.cv-3 .row-principal .row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.cv-3 .row-principal .with-region-content {
  width: 100%;
  padding: 30px 0;
}

.cv-3 .row-principal .with-region-content .region-personal {
  width: 100%;
}

.cv-3 .row-principal .with-region-content .region-personal .titulo-trabajador {
  text-align: center;
  width: 100%;
}

.cv-3 .row-principal .with-region-content .region-personal .titulo-trabajador .nombre_trabajador {
  font-size: 40px;
}

.cv-3 .row-principal .with-region-content .region-personal .titulo-trabajador .campo_trabajador {
  font-size: 18px;
}

.cv-3 .row-principal .with-region-content .region-informacion .fila > td {
  padding: 0 30px 0 15px;
}

.cv-3 .row-principal .with-region-content .region-informacion .title {
  margin-top: 20px;
}

.cv-3 .row-principal .with-region-content .region-informacion .left,
.cv-3 .row-principal .with-region-content .region-informacion .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cv-3 .row-principal .with-region-content .region-informacion .habilidad,
.cv-3 .row-principal .with-region-content .region-informacion .idioma {
  margin-top: 10px;
}

.cv-3 .row-principal .with-region-content .region-informacion .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #aaaaaa;
  display: block;
  margin-top: 5px;
}

.cv-3 .row-principal .with-region-content .region-informacion .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fef360;
}

.cv-3 .row-principal .with-region-content .region-informacion .percent div.bajo {
  width: 40%;
}

.cv-3 .row-principal .with-region-content .region-informacion .percent div.Medio {
  width: 60%;
}

.cv-3 .row-principal .with-region-content .region-informacion .percent div.medio {
  width: 60%;
}

.cv-3 .row-principal .with-region-content .region-informacion .percent div.Avanzado {
  width: 80%;
}

.cv-3 .row-principal .with-region-content .region-informacion .percent div.avanzado {
  width: 80%;
}

.cv-3 .row-principal .with-region-content .region-informacion .percent div.Alto {
  width: 80%;
}

.cv-3 .row-principal .with-region-content .region-informacion .percent div.alto {
  width: 80%;
}

.cv-3 .row-principal .with-region-content .region-informacion .percent div.Experto {
  width: 100%;
}

.cv-3 .row-principal .with-region-content .region-informacion .percent div.experto {
  width: 100%;
}

.cv-3 .row-principal .with-region-content .region-informacion .percent div.Nativo {
  width: 100%;
}

.cv-3 .row-principal .with-region-content .region-informacion .percent div.nativo {
  width: 100%;
}

.cv-3 .row-principal .with-region-content .region-informacion .personal-info {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cv-3 .row-principal .with-region-content .region-informacion .personal-info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cv-3 .row-principal .with-region-content .region-informacion .personal-info > div p,
.cv-3 .row-principal .with-region-content .region-informacion .personal-info > div a {
  margin-bottom: 0 !important;
  margin-left: 10px;
}

.cv-3 .row-principal .with-region-content .region-informacion .nombre {
  color: white;
  font-weight: bold;
}

.cv-3 .row-principal .with-region-content .region-informacion .experiencia-wrapper .item,
.cv-3 .row-principal .with-region-content .region-informacion .formacion-wrapper .item {
  margin-top: 15px;
}

.cv-3 .row-principal .with-region-content .region-informacion .experiencia-wrapper .item .col-sm-4,
.cv-3 .row-principal .with-region-content .region-informacion .formacion-wrapper .item .col-sm-4 {
  width: 30%;
}

.cv-3 .row-principal .with-region-content .region-informacion .experiencia-wrapper .item .col-sm-8,
.cv-3 .row-principal .with-region-content .region-informacion .formacion-wrapper .item .col-sm-8 {
  width: 63%;
}

.cv-3 .row-principal .with-region-content .region-informacion .experiencia-wrapper .item .lugar,
.cv-3 .row-principal .with-region-content .region-informacion .formacion-wrapper .item .lugar {
  font-style: italic;
}

.cv-4 {
  background-color: white;
}

.cv-4.view .with-region-personal {
  padding: 0 0 30px 0 !important;
}

.cv-4 table {
  border-collapse: collapse;
}

.cv-4 h2 {
  font-size: 1.5rem;
}

.cv-4 h1,
.cv-4 h2,
.cv-4 h6 {
  color: #003d74;
}

.cv-4 p,
.cv-4 a,
.cv-4 i {
  color: black;
}

.cv-4 hr {
  background-color: white;
  height: 3px;
}

.cv-4 .col-sm-6 {
  width: 50%;
}

.cv-4 .row-principal {
  height: 281mm;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.cv-4 .row-principal .row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.cv-4 .row-principal .with-region-personal {
  padding: 1.8cm 0 0 0;
  background-color: #003d74;
}

.cv-4 .row-principal .with-region-personal * {
  color: white;
}

.cv-4 .row-principal .with-region-personal .foto-trabajador {
  width: 30%;
  display: inline-block;
  margin-top: 30px;
}

.cv-4 .row-principal .with-region-personal .foto-trabajador img {
  width: 70%;
}

.cv-4 .row-principal .with-region-personal .info-trabajador {
  width: 63%;
  display: inline-block;
}

.cv-4 .row-principal .with-region-personal .info-trabajador .nombre-trabajador {
  font-size: 40px;
}

.cv-4 .row-principal .with-region-personal .info-trabajador .campo-trabajador {
  font-size: 18px;
  margin-bottom: 15px;
}

.cv-4 .row-principal .with-region-personal .region-personal .titulo-trabajador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cv-4 .row-principal .with-region-personal .info-trabajador > .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.cv-4 .row-principal .with-region-personal .personal-info {
  margin-left: 15px;
}

.cv-4 .row-principal .with-region-personal .personal-info p {
  margin-bottom: 0;
}

.cv-4 .row-principal .with-region-content {
  padding: 20px;
}

.cv-4 .row-principal .with-region-content .objetivo-profesional {
  width: 90%;
}

.cv-4 .row-principal .with-region-content .region-informacion .title {
  margin-top: 20px;
  font-size: 25px;
}

.cv-4 .row-principal .with-region-content .region-informacion .left,
.cv-4 .row-principal .with-region-content .region-informacion .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cv-4 .row-principal .with-region-content .region-informacion .habilidad,
.cv-4 .row-principal .with-region-content .region-informacion .idioma {
  margin-top: 7px;
}

.cv-4 .row-principal .with-region-content .region-informacion .habilidad .nombre-item,
.cv-4 .row-principal .with-region-content .region-informacion .idioma .nombre-item {
  margin-bottom: 10px;
}

.cv-4 .row-principal .with-region-content .region-informacion .percent {
  position: relative;
  width: 8cm;
  height: 6px;
  background-color: #aaaaaa;
  display: block;
  margin-top: 5px;
}

.cv-4 .row-principal .with-region-content .region-informacion .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fef360;
}

.cv-4 .row-principal .with-region-content .region-informacion .percent div.bajo {
  width: 40%;
}

.cv-4 .row-principal .with-region-content .region-informacion .percent div.Medio {
  width: 60%;
}

.cv-4 .row-principal .with-region-content .region-informacion .percent div.medio {
  width: 60%;
}

.cv-4 .row-principal .with-region-content .region-informacion .percent div.Avanzado {
  width: 80%;
}

.cv-4 .row-principal .with-region-content .region-informacion .percent div.avanzado {
  width: 80%;
}

.cv-4 .row-principal .with-region-content .region-informacion .percent div.Alto {
  width: 80%;
}

.cv-4 .row-principal .with-region-content .region-informacion .percent div.alto {
  width: 80%;
}

.cv-4 .row-principal .with-region-content .region-informacion .percent div.Experto {
  width: 100%;
}

.cv-4 .row-principal .with-region-content .region-informacion .percent div.experto {
  width: 100%;
}

.cv-4 .row-principal .with-region-content .region-informacion .percent div.Nativo {
  width: 100%;
}

.cv-4 .row-principal .with-region-content .region-informacion .percent div.nativo {
  width: 100%;
}

.cv-4 .row-principal .with-region-content .region-informacion .personal-info {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cv-4 .row-principal .with-region-content .region-informacion .personal-info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cv-4 .row-principal .with-region-content .region-informacion .personal-info > div p,
.cv-4 .row-principal .with-region-content .region-informacion .personal-info > div a {
  margin-bottom: 0 !important;
  margin-left: 10px;
}

.cv-4 .row-principal .with-region-content .region-informacion .nombre {
  font-weight: bold;
}

.cv-4 .row-principal .with-region-content .region-informacion .experiencia-wrapper .item,
.cv-4 .row-principal .with-region-content .region-informacion .formacion-wrapper .item {
  margin-top: 15px;
}

.cv-4 .row-principal .with-region-content .region-informacion .experiencia-wrapper .item .col-sm-4,
.cv-4 .row-principal .with-region-content .region-informacion .formacion-wrapper .item .col-sm-4 {
  width: 30%;
}

.cv-4 .row-principal .with-region-content .region-informacion .experiencia-wrapper .item .col-sm-8,
.cv-4 .row-principal .with-region-content .region-informacion .formacion-wrapper .item .col-sm-8 {
  width: 63%;
}

.cv-4 .row-principal .with-region-content .region-informacion .experiencia-wrapper .item .lugar,
.cv-4 .row-principal .with-region-content .region-informacion .formacion-wrapper .item .lugar {
  font-style: italic;
}
/*# sourceMappingURL=style-curriculum.css.map */