@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Inter', sans-serif;
  background-color: #E5E5E5;
}

.body-index {
  margin: 0;
  background-color: #186CA7;
  text-align: center;
}

.body-index .navbar-index {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 17vh;
  position: fixed;
  -webkit-box-shadow: 7px 4px 15px #656565;
          box-shadow: 7px 4px 15px #656565;
}

.body-index .navbar-index .column-1 {
  width: 40%;
  padding-left: 5%;
}

.body-index .navbar-index .column-1 .logo {
  width: 11vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  float: left;
}

.body-index .navbar-index .column-2 {
  width: 57%;
  text-align: right;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  padding-top: 2.5%;
  padding-right: 1%;
}

.body-index .navbar-index li {
  display: inline;
  padding-left: 5%;
}

.body-index .navbar-index li a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.7vh;
}

.body-index .navbar-index li a:hover {
  padding-top: 2%;
  padding-bottom: 2%;
  color: #717070;
}

.body-index .navbar-index li .btn-register {
  border-radius: 15px;
  border: #000000 solid;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  font-size: 2.7vh;
  width: 23%;
  height: 6vh;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.body-index .navbar-index li .btn-register:hover {
  background-color: black;
  color: white;
  font-weight: none;
  border: black solid 3px;
}

.body-index .column-3 {
  padding-top: 17vh;
  padding-left: 3%;
  width: 50%;
  float: left;
  padding-left: 5%;
  background-color: #186CA7;
  height: 83vh;
}

.body-index .column-3 h2 {
  text-align: left;
  color: white;
  font-weight: bold;
  margin-top: 10vh;
  font-size: 5vh;
}

.body-index .column-3 h3 {
  text-align: left;
  font-size: 3.5vh;
  color: white;
  padding-bottom: 5%;
}

.body-index .column-3 .btn-index {
  background-color: white;
  border-radius: 15px;
  font-weight: bold;
  width: 25%;
  height: 7vh;
  margin-right: 3vh;
  margin-top: 5.5vh;
  margin-bottom: 4vh;
  float: left;
  color: #090216b0;
  font-size: 2.7vh;
  -webkit-box-shadow: 0 0 5px rgba(206, 203, 203, 0.993), 0 0 8px rgba(206, 203, 203, 0.993);
          box-shadow: 0 0 5px rgba(206, 203, 203, 0.993), 0 0 8px rgba(206, 203, 203, 0.993);
  line-height: 42px;
  border: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.body-index .column-3 .btn-index:hover {
  background-color: transparent;
  color: white;
  border: white solid 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.body-index .column-4 {
  padding-top: 17vh;
  width: 50%;
  float: left;
  padding-right: 5%;
  background-color: #186CA7;
  height: 83vh;
}

.body-index .column-4 img {
  margin-top: 3vh;
  width: 80%;
}

.body-index #primera-columna {
  padding-left: 5%;
}

.body-index #ultima-columna {
  padding-right: 5%;
}

.body-index .column-5 {
  background-color: #92AFD7;
  padding-left: 3%;
  padding-right: 3%;
  width: 25%;
  float: left;
  height: 50vh;
  padding-top: 5%;
  padding-bottom: 5%;
}

.body-index .column-5 i {
  padding-bottom: 12%;
  color: white;
  font-size: 6vh;
}

.body-index .column-5 h1 {
  color: white;
  font-size: 4vh;
  font-weight: 550;
}

.body-index .column-5 h3 {
  color: white;
  font-size: 2.8vh;
}

.body-index .video {
  margin: 0;
  background-color: #0076CA;
  height: 150vh;
}

.body-index .footer {
  padding-top: 4%;
  padding-bottom: 12%;
  padding-left: 10%;
  padding-right: 10%;
  width: 33.3%;
  height: 20vh;
  float: left;
  background-color: #042944;
  color: white;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-index .footer h1 {
  padding-bottom: 8%;
  font-weight: bold;
}

.body-index .footer h2 {
  padding-bottom: 10%;
  font-weight: bold;
  font-size: 2.5vh;
}

.body-index .footer a {
  text-decoration: none;
  color: white;
}

.body-index .footer a:hover {
  font-weight: bold;
}

.body-index #footer-izquierda {
  text-align: center;
  padding-left: 5%;
}

@media only screen and (max-width: 768px) {
  .body-index .navbar-index {
    padding-top: 5px;
    height: 11vh;
  }
  .body-index .navbar-index .column-1 {
    display: none;
  }
  .body-index .navbar-index .column-2 {
    width: 100%;
    text-align: left;
  }
  .column-3 {
    width: 100% !important;
    text-align: center !important;
    padding-top: 65px !important;
    padding-bottom: 0px !important;
    height: 80vh !important;
  }
  .column-3 .btn-index {
    float: none !important;
    position: center;
  }
  .column-4 {
    width: 100% !important;
    padding-top: 0px !important;
    height: 45vh !important;
  }
  .column-5 {
    width: 100% !important;
    padding-top: 8vh !important;
    padding-bottom: 8vh !important;
    height: 40vh !important;
  }
  .video {
    display: none;
  }
  .footer {
    width: 100% !important;
    padding-top: 5vh !important;
    height: 30vh !important;
    text-align: center !important;
  }
  #footer-izquierda {
    display: none;
  }
}

.body-login {
  background-color: #186CA7;
}

.body-login .logo {
  display: none;
}

.body-login .modal-login {
  background-color: white;
  border-radius: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin-top: 10vh;
  padding-bottom: 0.2vh;
  margin-left: 30vh;
  margin-right: 30vh;
  -webkit-box-shadow: 5px 3px 3px rgba(156, 155, 155, 0.591);
          box-shadow: 5px 3px 3px rgba(156, 155, 155, 0.591);
}

.body-login .modal-login .botones {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-login .modal-login .modal-content {
  border: white;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 70vh;
}

.body-login .modal-login .modal-content h2 {
  margin-top: 11vh;
  margin-bottom: 7vh;
  text-align: center;
  font-weight: bold;
  font-size: 3.5vh;
}

.body-login .modal-login .modal-content .user-empresa {
  font-weight: bold;
  color: white !important;
  text-align: center;
  padding-top: 10px;
}

.body-login .modal-login .modal-content .contraseña {
  font-weight: bold;
  font-size: 2vh;
  color: #0076CA !important;
  text-align: center;
  padding-top: 10px;
}

.body-login .modal-login .modal-content .inputlogin {
  font-size: 15px;
  border-radius: 15px;
  border: #186CA7 solid 1.5px;
  width: 70%;
  height: 7vh;
}

.body-login .modal-login .modal-content .inputlogin::-webkit-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-login .modal-content .inputlogin:-ms-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-login .modal-content .inputlogin::-ms-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-login .modal-content .inputlogin::placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-login .modal-content .botonlogin {
  border-radius: 15px;
  background-color: #186CA7;
  border: #186CA7 solid 1.5px;
  -webkit-box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
          box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
  color: white;
  font-weight: bold;
  width: 70%;
  height: 7vh;
  margin-top: 1rem;
}

.body-login .modal-login .modal-content .linea {
  position: flex;
  margin: auto;
  width: 55%;
  border-top: 1px solid #CDC0C0;
  height: 2px;
}

.body-login .modal-login .modal-content .google-login {
  font-weight: bold;
  color: white;
  background-color: #C5D1EB;
  border: #C5D1EB solid 1.5px;
  display: block;
  margin-top: 4vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.body-login .modal-login .modal-content .google-img {
  width: 2.3vh;
  margin-right: 4px;
}

@media only screen and (max-width: 1200px) {
  .body-login .modal-login {
    margin-top: 10vh;
    padding-bottom: 0.2vh;
    margin-left: 3vh;
    margin-right: 3vh;
  }
  .body-login .modal-login .botones {
    text-align: center;
    height: 9vh;
  }
  .body-login .modal-login .botones .btn-signin {
    width: 100%;
  }
  .body-login .modal-login .botones .btn-register {
    width: 100%;
  }
  .body-login .modal-login .botones .modal-content {
    width: 100%;
  }
  .body-login .modal-login .botones .modal-content .contraseña {
    font-size: 1vh;
    text-align: left;
  }
  .body-login .modal-login .botones .modal-content .inputlogin {
    width: 90% !important;
    height: 2vh !important;
  }
}

@media only screen and (max-width: 768px) {
  .body-login .logo {
    display: block !important;
    height: 18vh;
  }
  .body-login .logo img {
    width: 25%;
    margin-top: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .body-login .modal-login {
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0vh;
    margin-right: 0vh;
  }
  .body-login .modal-login .botones {
    text-align: center;
    height: 9vh;
  }
  .body-login .modal-login .modal-content {
    width: 80%;
    height: 65vh;
  }
  .body-login .modal-login .modal-content h2 {
    margin-top: 4vh;
    margin-bottom: 0vh;
    font-weight: bold;
    padding-top: 6vh;
    padding-bottom: 6vh;
    font-size: 3.5vh;
  }
  .body-login .modal-login .modal-content .inputlogin {
    width: 100% !important;
    height: 42px !important;
  }
  .body-login .modal-login .modal-content .botonlogin {
    width: 100%;
    height: 40px;
    margin-bottom: 3px;
  }
  .body-login .modal-login .modal-content .contraseña {
    padding-top: 3px;
    font-size: 1.7vh;
    text-align: left;
  }
  .body-login .modal-login .modal-content .linea {
    max-width: 100%;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .body-login .modal-login .modal-content .google-login {
    width: 80%;
    padding-top: 4px;
    padding-bottom: 7px;
  }
  .body-login .modal-login .modal-content .google-img {
    width: 2.5vh;
    margin-right: 12px;
  }
}

.body-login .botones .btn-signin {
  width: 100%;
  height: 8.5vh;
  text-align: center;
  color: #186CA7;
  font-weight: bold;
  font-size: 2.5vh;
  border: none;
  border-top-left-radius: 53px;
  border-bottom-right-radius: 60px;
}

.body-login .botones .btn-register {
  width: 100%;
  height: 8.5vh;
  text-align: center;
  color: #186CA7;
  font-weight: bold;
  font-size: 2.5vh;
  background-color: white;
  border: none;
  border-top-right-radius: 53px;
  border-bottom-left-radius: 60px;
}

.body-login .modal-content-register-cuadrados {
  width: 100%;
  height: 72vh;
}

.body-login .modal-content-register-cuadrados h3 {
  font-weight: bold;
  padding-top: 11vh;
  padding-bottom: 7vh;
  font-size: 3.5vh;
}

.body-login .modal-content-register-cuadrados .cuadrados {
  width: 50%;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-login .modal-content-register-cuadrados .cuadrado {
  width: 30vh;
  height: 30vh;
  background: #005EA0;
  border: #005EA0 solid 1.5px;
  -webkit-box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
          box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
  border-radius: 30px;
  color: white;
  font-weight: 600;
}

.body-login .modal-content-register-cuadrados i {
  text-align: center;
  font-size: 13vh;
}

.body-login .modal-content-register-cuadrados p {
  font-size: 3.2vh;
}

@media only screen and (max-width: 768px) {
  .body-login {
    height: 60vh;
  }
  .body-login .modal-content-register-cuadrados h3 {
    font-size: 3vh;
    margin-bottom: 4vh;
    padding-top: 5vh;
    padding-bottom: 0vh;
    margin-top: 1vh;
  }
  .body-login .modal-content-register-cuadrados .cuadrados {
    width: 100%;
    height: 21vh;
  }
  .body-login .modal-content-register-cuadrados .cuadrados .cuadrado {
    width: 19vh;
    height: 19vh;
  }
  .body-login .modal-content-register-cuadrados .cuadrados i {
    padding-top: 3vh;
    font-size: 6.5vh;
  }
}

.body-login .scrollbar {
  width: 100%;
  height: 72vh;
  overflow-y: scroll;
}

.body-login .modal-content-register {
  width: 100%;
  height: auto;
}

.body-login .modal-content-register h3 {
  font-weight: bold;
  padding-top: 8vh;
  padding-bottom: 6vh;
  font-size: 3.5vh;
}

.body-login .modal-content-register .column-2 {
  width: 50%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
}

.body-login .modal-content-register .column-2 p {
  font-size: 2.5vh !important;
  font-weight: 600;
  text-align: left;
  color: rgba(0, 0, 0, 0.594);
}

.body-login .modal-content-register .column-2 .inputregister {
  margin-bottom: 1rem;
  font-size: 15px;
  border-radius: 15px;
  border: #186CA7 solid 2px;
  width: 100% !important;
  height: 42px !important;
}

.body-login .modal-content-register .column-2 .inputregister::-webkit-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-content-register .column-2 .inputregister:-ms-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-content-register .column-2 .inputregister::-ms-input-placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-content-register .column-2 .inputregister::placeholder {
  color: #c5bfbf;
  padding-left: 2%;
  font-weight: 440;
}

.body-login .modal-content-register .column-2 .foto {
  width: 80%;
  float: left;
  margin-bottom: 1rem;
}

.body-login .modal-content-register .column-2 select {
  border-radius: 15px;
  border: #186CA7 solid 2px;
  width: 15% !important;
  height: 42px !important;
  margin-bottom: 1rem;
}

.body-login .modal-content-register .botonregister {
  border-radius: 15px;
  background-color: #186CA7 !important;
  border: #186CA7 solid 1.5px;
  -webkit-box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
          box-shadow: 6px 4px 4px rgba(206, 203, 203, 0.993);
  color: white;
  font-weight: bold;
  width: 40%;
  height: 40px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .body-login .modal-content-register {
    height: 75vh;
  }
  .body-login .modal-content-register h3 {
    font-size: 3vh;
    padding-bottom: 4vh;
  }
  .body-login .modal-content-register .column-2 {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .body-login .modal-content-register .column-2 .inputregister {
    height: 6vh !important;
  }
  .body-login .modal-content-register .column-2 .inputregister::-webkit-input-placeholder {
    font-size: 2.2vh;
  }
  .body-login .modal-content-register .column-2 .inputregister:-ms-input-placeholder {
    font-size: 2.2vh;
  }
  .body-login .modal-content-register .column-2 .inputregister::-ms-input-placeholder {
    font-size: 2.2vh;
  }
  .body-login .modal-content-register .column-2 .inputregister::placeholder {
    font-size: 2.2vh;
  }
  .body-login .modal-content-register .column-2 .select {
    font-size: 2.2vh !important;
  }
  .body-login .modal-content-register .column-2 .foto {
    padding-bottom: 1rem;
  }
  .body-login .botonregister {
    width: 70% !important;
    font-size: 2.1vh;
    height: 5vh !important;
  }
}
/*# sourceMappingURL=style-laura.css.map */