@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-family: 'Inter', sans-serif;
  background-color: #E5E5E5;
}

.alert-success {
  color: green;
  margin-bottom: 15px;
}

.validacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.validacion span {
  color: red;
  margin-top: 15px;
}

.validacion input {
  font-size: 15px;
  border-radius: 15px;
  border: #186CA7 solid 1.5px;
  width: 70% !important;
  height: 7vh;
}

.region-navbar {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  height: calc(var(--vh, 1vh) * 10);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  /*--------------------------------------------------------------- MENU NAV BAR ---------------------------------------------------------------- */
  /* DIVS NAVBAR*/
  /* Curriculum */
  /* Alertas */
  /* Main */
  /* Chat */
  /* Perfil */
  /* ICONS */
}

.region-navbar .curriculum-navbar {
  padding: 1%;
  width: 20%;
}

.region-navbar .alerts-navbar {
  padding: 1%;
  width: 20%;
}

.region-navbar .main-navbar {
  padding: 1%;
  width: 20%;
  height: 10vh;
}

.region-navbar .chat-navbar {
  padding: 1%;
  width: 20%;
}

.region-navbar .profile-navbar {
  padding: 1%;
  width: 20%;
}

.region-navbar .active-left {
  background-color: #E5E5E5;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top-right-radius: 30px;
}

.region-navbar .active-right {
  background-color: #E5E5E5;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top-left-radius: 30px;
}

.region-navbar .active {
  background-color: #E5E5E5;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.region-navbar .active-center {
  background-color: #C5D1EB;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.region-navbar .icon {
  color: #c0c0c0;
  text-align: center;
  font-size: 3.5vh;
  background-color: #ffffff;
  border-width: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.region-navbar .main-icon {
  color: #c0c0c0;
  font-size: 4vh;
  background-color: #ffffff;
  text-align: center;
  border-width: 0px;
  width: 100%;
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.region-navbar .active-icon {
  color: #000000;
  background-color: #E5E5E5;
  font-size: 4.5vh;
}

.region-navbar .active-icon-center {
  background-color: #C5D1EB;
  font-size: 4.5vh;
}
/*# sourceMappingURL=style.css.map */